@mixin socialButton () {
  display: inline-block;
  // background-color: $color;
  color: #E3E3E3;
  height: 25px;
  width: 30px;
  padding-top: 5%;
  border-bottom: 3px solid gray;
}

$dkblue: #14568C;
$ltred: #E03A3A;
$red: #BD2C04;
$yellow: #B39C0B;
$ltblue: #91C7F2;

// -----------------Styles-------------------

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)
    ), url('../imgs/bg.jpg');
  background-size: 100%;
  background-position: 100% 0%;
  font-family: sans-serif;
}

.mainWrapper {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 25px;
}

.socialBar {
  color: white;
  text-align: right;
  width: 100%;
  display: block;

  a {
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    color: white;
    padding-right: 50px;
  }
}

.socialIcons {
    display: inline-block;
    width: auto;
    padding-left: 0;
    margin-bottom: 0;

  li {
    @include socialButton;

    &#facebook {
      background-color: $dkblue;
    }

    &#rss {
      background-color: $yellow;
    }

    &#twitter {
      background-color: $ltblue;
    }

    &#youtube {
      background-color: $ltred;
    }
  }

  i {
    display: block;
    text-align: center;
    font-size: 22px;
  }
}

.navBar {
  width: 100%;
  display: block;

  .navButtons {
    padding: 0;
    width: 100%;
    text-align: center;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
  }

  li {
    display: inline-block;
    width: 24%;
    font-size: 12px;
    color: lightgray;
    background-color: $red;
    border-bottom: 3px solid gray;
    line-height: 2em;

    &::before {
      content: '-';
      font-weight: bold;
      margin-right: 8%;
      margin-left: -8%;
    }

    &::after {
      content: '-';
      font-weight: bold;
      margin-left: 8%;
      margin-right: -8%;
    }
  }
}

.slider {
  display: block;

  .sliderMain {
    height: 200px;
    background: linear-gradient(
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25)
    ), url(../imgs/top-image.png);
    background-size: 112%;
    background-position: -110% 20%;
    border: 5px solid white;
  }

  img {
    width: 45%;
    margin-top: 4%;
    margin-left: 3%;
  }

  .sliderButtons {
    display: -webkit-flex;
    -webkit-justify-content: space-around;

    li {
      display: inline-block;
      width: auto;
      font-size: 12px;
      color: white;
    }
  }
}

.news {
  width: 100%;
  display: -webkit-flex;
  -webkit-justify-content: space-between;

  .article {
    width: 32.5%;
    display: block;
    vertical-align: top;
    background: white;
    box-sizing: border-box;
    border-bottom: 3px solid gray;

    h1 {
      font-size: .75em;
      padding-left: 10%;
      padding-right: 10%;
    }

    p {
      font-size: 11px;
      display: block;
      line-height: 1.25em;
      padding-left: 10%;
      padding-right: 10%;
      box-sizing: border-box;
    }

    .readMore {
      color: $red;
      text-align: center;
      font-weight: bold;
    }
  }
}

.skaters {
  width: 100%;
  margin-top: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: block;
  text-align: center;
  vertical-align: middle;

  h1 {
    display: block;
    margin-top: 18%;
  }

  .bio {
    border: 3px solid white;

    &Lance {
      background: url(../imgs/sk8er-4.png);
      background-size: 124%;
      background-position: 100% 20%;
      display: inline-block;
      width: 32%;
      height: 125px;
      border: 2px solid white;
      float: left;
      margin-right: 3px;
    }

    &Rodney {
      background: url(../imgs/sk8er-3.png);
      background-size: 116%;
      background-position: 4% 20%;
      display: inline-block;
      width: 32%;
      height: 125px;
      border: 2px solid white;
      float: left;
      margin-left: 3px;
    }

    &Tommy {
      background: url(../imgs/sk8er-2.png);
      background-size: 287%;
      background-position: 79% 20%;
      display: inline-block;
      float: right;
      width: 32%;
      height: 284px;
      border: 2px solid white;
      float: right;
      line-height: 180px;
    }

    &Steve {
      background: url(../imgs/sk8er-1.png);
      background-size: 101%;
      background-position: 61% 102%;
      display: inline-block;
      width: 66%;
      height: 150px;
      border: 2px solid white;
      float: left;
      margin-top: 5px;
    }
  }
}

.decks {
  width: 100%;
  background-color: white;
  margin-top: 50%;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  border-bottom: 3px solid gray;
  padding: 10px 0;

  .imgContainer {
    width: 6%;

    .deckImg {
      height: 150px;
    }

    span {
      display: none;
    }

    &:hover > span {
      font-size: 10px;
      display: inline-block;
      position: absolute;
      padding: .5em;
      content: attr(title);
      min-width: 120px;
      text-align: center;
      width: auto;
      height: auto;
      white-space: nowrap;
      bottom: -325px;
      background: rgba(0,0,0,.8);
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      border-radius:10px;
      color: #fff;
      padding-bottom: 0;
      margin-bottom: 0;
      z-index: 1;
      margin-left: -30px;
    }
  }
}

.contact {
  width: 100%;
  display: block;
  background: white;
  margin-top: 10px;
  border-bottom: 3px solid gray;

  .info {
    display: inline-block;
    width: 55%;
    vertical-align: top;
    margin-top: 10px;

      h4 {
        font-size: .75em;
        padding-left: 10%;
        padding-right: 10%;
      }

      p {
        font-size: 11px;
        display: block;
        line-height: 1.25em;
        padding-left: 10%;
        padding-right: 10%;
        box-sizing: border-box;
      }

      ul {
        display: inline-block;
        width: auto;

        li {
          @include socialButton;
          border-bottom: none;
          background-color: gray
        }

        i {
          display: block;
          text-align: center;
          color: lightgray;
          font-size: 22px;
        }
      }
    }

  form {
    display: inline-block;

    input[type=text] {
      width: 250px;
      color: lightgray;
      margin-bottom: 10px;
      height: 15px;
    }

    input[type=button] {
      background: $red;
      border: none;
      color: white;
      width: 150px;
      height: 25px;
      display: block;
      margin-left: 40%;
    }

    #largeField {
      height: 50px;
    }
  }
}
// --------------Tablet------------->

@media screen and (max-width: 800px) {

  .navBar {
    .navButtons {
      display: block;
    }

    li {
      display: block;
      width: 100%;
      line-height: 2em;
      margin-top: 5px;
    }
  }

  .news {
    width: 100%;
    display: block;

    .article {
      width: 100%;
      display: block;
      box-sizing: border-box;

      h1 {
        padding-top: 10px;
        font-size: 1em;
      }
    }
  }

  .bio {
    display: block;

    &Lance {
      width: 100%;
      display: block;
    }

  }

}
